.episode {
  padding: 1.5rem 6.5rem 1.5rem 3.8rem;
  min-height: 15rem;
  list-style-type: none;
  color: white;
  overflow: hidden;
  border-radius: 1rem;
  border-bottom: 1px solid #404040;
  transition: all linear 0.3s;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #333333;
    cursor: pointer;
  }

  &.unRealeased {
    background-color: #0c0c0c;
    cursor: none;
    pointer-events: none;
    user-select: none;
  }

  .episodeContent {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      .imgWrapper {
        .playBtn {
          display: block;
        }
      }
    }

    .imgWrapper {
      height: 8rem;
      position: relative;

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        margin-right: 1.3rem;
      }

      .playBtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 5rem;
        height: 5rem;
        background-color: rgba(30, 30, 20, 0.5);
        border: 1px solid #fff;
        display: none;
      }
    }

    .number {
      font-size: 3.5rem;
      font-weight: 500;
      margin-right: 2rem;
    }
    .titleAndDescWrapper {
      .title {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 500;
      }
      .desc {
        font-size: 1.8rem;
        font-weight: 400;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.skeletonWrapper {
  display: flex;
  align-items: center;
  padding: 4rem 6.5rem 4rem 3.8rem;
  height: 15rem;
  list-style-type: none;

  .skeletonImg {
    height: 100%;
    width: 13rem;
  }

  .skeletonContent {
    height: 100%;
    flex: 1;
    padding-left: 2rem;
    .skeletonTitle {
      height: 30%;
    }
    .skeletonDesc {
      height: 70%;
      margin-top: 1rem;
    }
  }
}
