header {
  .container {
    background-color: transparent;
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 10%,
      transparent
    );
    height: 7rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all ease 0.3s;
    z-index: var(--layer-3);
    padding: 0 5rem;

    &.showBackground {
      background-color: black;
    }

    nav {
      height: 7rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 17px;

      .firstList {
        display: flex;
        height: 100%;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
          height: 100%;
          margin: 0 10px;
          color: #fff;
          display: flex;
          align-items: center;
          .navLogo {
            height: 100%;
            display: flex;
            align-items: center;
            padding-right: 2rem;

            img {
              height: 50%;
              object-fit: cover;
              object-position: center;
            }
          }
          &:hover {
            a:not(.active) {
              color: var(--primary-text);
            }
          }

          a {
            color: #fff;
            text-decoration: none;
            position: relative;
            transition: all 0.1s linear;
          }

          a.active {
            font-weight: bold;
          }
        }
      }

      .secondList {
        list-style: none;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        margin: 0;

        li {
          color: #fff;
          margin: 0 1rem;
          cursor: pointer;

          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
