.searchBox {
  padding: 0.8rem;
  display: flex;
  width: 30px;
  align-items: center;

  &.searchActive {
    border: 0.1rem solid #fff;
    width: auto;
    background-color: rgba(0, 0, 0, 0.65);

    .inputField {
      width: 250px;
    }
  }
  .inputField {
    transition: all 0.7s ease;
    width: 0;
    position: relative;

    input {
      transition: all 0.7s ease;
      color: #fff;
      font-size: 17px;
      outline: none;
      background: transparent;
      border: none;
      width: 77%;
    }

    button {
      height: 100%;
      width: 3rem;
      display: inline-block;
      background-color: transparent;
      position: absolute;
      right: 0rem;
      top: 0;
      height: 110%;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border: none;
      outline: none;
    }
  }

  button {
    background-color: transparent;
    margin-right: 1rem;
    border: none;
    outline: none;
    transition: all 1s ease;
    cursor: pointer;
    i {
      color: #fff;
      font-size: 2.5rem;
      font-weight: bold;
    }
  }
}
