
.list {
    display: flex;
    // flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 5rem;

    .movieCard {
        // width: 20rem;
        margin:0 -3.5rem;
    }
}
