@keyframes loadinganim {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wrapper {
  background: black;
  min-height: 50rem;
  color: white;
  text-align: center;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: 100%;

  .loading {
    display: table-cell;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    vertical-align: middle;
    font-family: helvetica, sans-serif;

    .bulletouter {
      animation: loadinganim 1s infinite;
      animation-timing-function: linear;
      animation-direction: reverse;
      width: 6.5rem;
      height: 6.5rem;
      background: #E50914;
      border-radius: 50%;
      margin: 0 auto;
      .bulletinner {
        position: relative;
        left: -5px;
        width: 6rem;
        height: 6rem;
        background: black;
        border-radius: 50%;
        margin: 0 auto;
      }
      .mask {
        position: relative;
        left: -5px;
        top: -15px;
        width: 50px;
        height: 25px;
        background: black;
        transform: rotate(45deg);
      }
      .dot {
        position: relative;
        left: 3.9rem;
        top: -3rem;
        width: 9px;
        height: 9px;
        background: #E50914;
        border-radius: 50%;
      }
    }
  }
}
